[run]
source = zope.deprecation
omit =
    *old_location.py
    */new_package/*
    */old_package/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    raise NotImplementedError
